<!-- Container Principal -->
<div class="trainning-create-container">
  <!-- Cabeçalho -->
  <div class="header">
    <mat-icon>fitness_center</mat-icon>
    <h1>Criar Novo Treino</h1>
  </div>

  <!-- Formulário -->
  <form [formGroup]="trainingForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Nome do Treino</mat-label>
      <input matInput formControlName="name" placeholder="Digite o nome do treino">
      <mat-error *ngIf="trainingForm.get('name')?.hasError('required') && trainingForm.get('name')?.touched">Nome é obrigatório</mat-error>
      <mat-error *ngIf="trainingForm.get('name')?.hasError('minlength') && trainingForm.get('name')?.touched">Nome deve ter no mínimo 3 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Exercícios</mat-label>
      <mat-select formControlName="exercises" multiple>
        <mat-option>-- Selecione os exercícios --</mat-option> <!-- Opção para campo vazio/placeholder -->
        <mat-option *ngFor="let exercise of exercises" [value]="exercise">
          {{exercise.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="trainingForm.get('exercises')?.hasError('required') && trainingForm.get('exercises')?.touched">Selecione pelo menos um exercício</mat-error>
      <mat-error *ngIf="trainingForm.get('exercises')?.hasError('minlength') && trainingForm.get('exercises')?.touched">Selecione pelo menos um exercício</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Usuário</mat-label>
      <mat-select formControlName="userId">
        <mat-option>-- Selecione um usuário --</mat-option> <!-- Opção para campo vazio/placeholder -->
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="trainingForm.get('userId')?.hasError('required') && trainingForm.get('userId')?.touched">Selecione um usuário</mat-error>
    </mat-form-field>

    <!-- Botões de Ação -->
    <div class="form-actions">
      <button mat-button type="button" (click)="cancel()">
        <mat-icon>arrow_back</mat-icon>
        Cancelar
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="trainingForm.invalid" matTooltip="{{ trainingForm.invalid ? 'Preencha todos os campos obrigatórios' : 'Criar novo treino' }}">
        <mat-icon>save</mat-icon>
        Criar Treino
      </button>
    </div>
  </form>
</div>
