<mat-toolbar color="primary">
  <div class="toolbar-left">
    <!-- Exemplo de botão toggle na toolbar -->
    @if (sidenav) {
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    }
    <!-- Adicionada a classe 'app-title' para estilização do cursor -->
    <span class="app-title" (click)="goToHome()">Gerenciador Fitness</span>
  </div>

  <div class="toolbar-right">

    <!-- Botão Home -->
    <button mat-icon-button (click)="goToHome()">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
