<mat-nav-list>
  <!-- Link Home direto -->
   <div class="logo">
   <a mat-list-item >
    <img src="../../../assets/images/Logo.png" alt="Logo Sistudo" width="200">
    <!-- <mat-icon matListItemIcon>Sistudo</mat-icon> -->
  </a>
  </div>

  <mat-accordion>
  <mat-expansion-panel *ngFor="let item of expandableMenuItems" #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ item.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let link of item.links"
        [routerLink]="link.route"
        (click)="onLinkClick()"
      >
        <span>{{ link.label }}</span>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
</mat-nav-list>
